{% extends 'base.html' %}
{% load static %}

{% block title %}
PacilFlix | Manage Subscription
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container m-5 text-center">
    <div class="title indigo mb-5">Edit Profile</div>
    
    <form method="POST" action="{% url 'users:update_profile' %}">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{ username }}"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="{{ password }}"><br>
        <label for="negara_asal">Negara Asal:</label><br>
        <input type="text" id="negara_asal" name="negara_asal" value="{{ negara_asal }}"><br>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock content %}
