{% extends 'base.html' %}
{% load static %}

{% block title %}
PacilFlix | Halaman Series
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<style>
    .custom-btn {
        background-color: #6a5acd;
        color: rgb(255, 255, 255); 
        padding: 8px 10px;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        margin-right: 10px;
    }

    .custom-btn-ep {
        background-color: #ac5cfb;
        color: white;
        padding: 8px 10px;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        margin-right: 10px;
    }
</style>

<main class="py-4" style="padding-top: 4rem;">
    <body style="background-color: #E0BBE4;">
        <div class="container m-5">
            <div class="shadow pt-5 p-4 mb-5 bg-white rounded">
                {% comment %} modal daftar favorit {% endcomment %}
                <div id="favoritesModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header d-flex justify-content-between align-items-center">
                            <h5 class="modal-title">Tambahkan ke Daftar Favorit</h5>
                            
                        </div>
                        <div class="modal-body d-flex justify-content-between align-items-center">
                            <label for="favoritesList" class="mb-0">Daftar Favorit:</label>
                            <div class="form-group mb-0">
                                <select class="form-control" id="favoritesList">
                                    <option>Daftar Favorit 1</option>
                                    <option>Daftar Favorit 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" id="addToFavoritesBtn">Tambah</button>
                        </div>
                      </div>
                    </div>
                </div>

                {% comment %} modal unduuhan {% endcomment %}
                <div id="downloadModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title"><b>Sukses menambahkan tayangan ke daftar unduhan</b></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Selamat! Anda telah berhasil mengunduh <span id="downloadedTitle"></span> dan akan berlaku hingga <span id="expirationDate"></span>. Cek informasi selengkapnya pada halaman daftar unduhan.</p>
                          <a href="#" class="btn btn-primary">Unduhan</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="text-center">
                    <h1>HALAMAN SERIES</h1>
                </div>

                <h4 class="pl-5 pt-5 pb-2"><b>Judul:</b> {{ series_data.0.judul }}</h4>
                <h4 class="pl-5 pb-1"><b>Episode:</b></h4>
                <div class="d-flex justify-content-start pl-5">
                    {% for episode in episode_list %}
                        <a href="{% url 'episode_view' episode %}" class="custom-btn-ep mr-2">
                            <i class="fas fa-play mr-3"></i>{{ episode }}
                        </a>
                    {% endfor %}
                </div>

                <div class="d-flex justify-content-start pl-5 pb-5 pt-3">
                    <button type="button" class="custom-btn mr-2"><i class="fas fa-download mr-3"></i>Unduh</button>
                    <button type="button" class="custom-btn"><i class="fas fa-star mr-3"></i>Tambah ke Favorit</button>
                </div>

                <h4 class="pl-5 pb-2"><b>Total View:</b> {{ series_data.0.total_view }}</h4>
                <h4 class="pl-5 pb-2"><b>Rating Rata-Rata:</b> {{ series_data.0.rating }}</h4>
                <h4 class="pl-5 pb-2"><b>Sinopsis:</b> {{ series_data.0.sinopsis }}</h4>
                <h4 class="pl-5 pb-2"><b>Genre:</b> {{ series_data.0.genre }}</h4>
                <h4 class="pl-5 pb-2"><b>Asal Negara:</b> {{ series_data.0.asal_negara }}</h4>
                <h4 class="pl-5 pb-2">
                    <b>Pemain:</b>
                    <ul>
                        {% for pemain in pemain_list %}
                            <li>- {{ pemain }}</li>
                        {% endfor %}
                    </ul>
                </h4>
                <h4 class="pl-5 pb-2">
                    <b>Penulis Skenario:</b>
                    <ul>
                        {% for penulis in penulis_list %}
                            <li>- {{ penulis }}</li>
                        {% endfor %}
                    </ul>
                </h4>
                <h4 class="pl-5 pb-2"><b>Sutradara:</b> {{ series_data.0.sutradara }}</h4>
            </div>

            <div class="shadow pt-5 pr-5 mb-5 bg-white rounded">
                <div class="text-center">
                    <h1>ULASAN</h1>
                </div>

                <div class="pl-5 pt-5 pb-2">
                    <h3><b>Tambah Ulasan</b></h3>
                </div>

                <div class="row pl-5 pb-2">
                    <div class="col-md-6">
                        <form method="post" action="{% url 'ulasan' %}">
                            {% csrf_token %}
                            <input type="hidden" name="judul" value="{{ series_data.0.judul }}">
                            <div class="form-group">
                                <h4>Tuliskan deskripsi ulasan</h4>
                                <textarea class="form-control" name="deskripsi" id="reviewDescription" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <h4>Rating series</h4>
                                <input type="number" class="form-control" name="rating" id="rating" step="0.1" min="1" max="5">
                            </div>
                            <button type="submit" class="custom-btn">Submit</button>
                        </form>
                    </div>
                </div>

                <div class="pl-5 pt-5">
                    <h3><b>Daftar Ulasan</b></h3>
                </div>

                <div class="row pl-5 pt-3">
                    {% for ulasan in review_data %}
                    <div class="col-md-6 mb-5">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h4 class="card-title">{{ ulasan.username }}</h4>
                                <h4 class="card-subtitle mb-2 text-muted">Rating: {{ ulasan.rating }}</h4>
                                <p class="card-text" style="overflow-x: auto; font-size: 14px;">{{ ulasan.deskripsi }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // Ambil referensi ke tombol "Tambah ke Favorit"
const addToFavoritesBtn = document.querySelector('.custom-btn:last-child');

// Ambil referensi ke modal
const favoritesModal = document.getElementById('favoritesModal');

// Tambahkan event listener pada tombol "Tambah ke Favorit"
addToFavoritesBtn.addEventListener('click', () => {
  // Munculkan modal
  $(favoritesModal).modal('show');
});

// Ambil referensi ke tombol "Tambah" di dalam modal
const addToFavoritesModalBtn = document.getElementById('addToFavoritesBtn');

// Tambahkan event listener pada tombol "Tambah"
addToFavoritesModalBtn.addEventListener('click', () => {
  // Sembunyikan modal
  $(favoritesModal).modal('hide');

  // Tampilkan pesan sukses
  alert('Sukses!');
});

// Ambil referensi ke tombol "Unduh"
const downloadBtn = document.querySelectorAll('.custom-btn')[0];

// Ambil referensi ke modal unduhan
const downloadModal = document.getElementById('downloadModal');

// Ambil referensi ke elemen span untuk judul tayangan dan tanggal kedaluwarsa
const downloadedTitleSpan = document.getElementById('downloadedTitle');
const expirationDateSpan = document.getElementById('expirationDate');

// Tambahkan event listener pada tombol "Unduh"
downloadBtn.addEventListener('click', () => {
  // Ambil judul tayangan dari halaman
  const seriesTitle = document.querySelector('h4 > b').nextSibling.textContent.trim();

  // Hitung tanggal kedaluwarsa (7 hari dari sekarang)
  const expirationDate = new Date();
  expirationDate.setDate(expirationDate.getDate() + 7);

  // Atur nilai elemen span dengan judul tayangan dan tanggal kedaluwarsa
  downloadedTitleSpan.textContent = seriesTitle;
  expirationDateSpan.textContent = expirationDate.toLocaleDateString();

  // Munculkan modal
  $(downloadModal).modal('show');
}); 
</script>



{% endblock %}