{% extends 'base.html' %}
{% load static %}

{% block title %}
PacilFlix | Halaman Episode
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<style>
    .custom-btn {
        background-color: #6a5acd;
        color: rgb(255, 255, 255); 
        padding: 8px 10px;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        margin-right: 10px;
        }

        .custom-btn-ep {
        background-color: #ac5cfb;
        color: white;
        padding: 8px 10px;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        margin-right: 10px;
        }
</style>

<main class="py-4" style="padding-top: 4rem;">
    <body style="background-color: #E0BBE4;">
        <div class="container m-5">
            <div class="shadow pt-5 p-4 mb-5 bg-white rounded">
                <div class="text-center">
                <h1>HALAMAN EPISODE</h1>
                </div>

                <h4 class="pl-5 pt-5 pb-2"><b>Judul:</b> Squid Game</h4>
                <h4 class="pl-5 pb-2"><b>Sub Judul:</b> Red Light, Green Light</h4>

                <div class="d-flex justify-content-start pl-5 pb-5">
                <button type="button" class="custom-btn mr-2"><i class="fas fa-play mr-3"></i>Tonton Episode</button>
                </div>

                <h4 class="pl-5 pb-1"><b>Episode Lainnya:</b></h4>
                <div class="d-flex justify-content-start pl-5 pb-5">
                <button type="button" class="custom-btn-ep mr-2"><i class="fas fa-play mr-3"></i>Episode 2</button>
                <button type="button" class="custom-btn-ep mr-2"><i class="fas fa-play mr-3"></i>Episode 3</button>
                <button type="button" class="custom-btn-ep mr-2"><i class="fas fa-play mr-3"></i>Episode 4</button>
                <button type="button" class="custom-btn-ep mr-2"><i class="fas fa-play mr-3"></i>Episode 5</button>
                </div>

                <h4 class="pl-5 pb-2"><b>Sinopsis Episode:</b> Masing-masing tenggelam dalam kesulitan kehidupan mereka. Mendadak, masing-masing menerima sebuah undangan misterius.</h4>
                <h4 class="pl-5 pb-2"><b>Durasi Episode:</b> 61 menit</h4>
                <h4 class="pl-5 pb-2"><b>URL Episode:</b> https://pacilflix.com/watch/30123467</h4>
                <h4 class="pl-5 pb-2"><b>Tanggal Rilis Episode:</b> 2021-09-17</h4>
            </div>
        </div>
    </body>
</main>

{% endblock %}