{% extends 'base.html' %}
{% load static %}

{% block title %}
PacilFlix | Daftar Tayangan
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<style>
    body {
        font-size: 150%;
    }
    .btn-custom {
        background-color: #6a5acd;
        color: rgb(255, 255, 255);
        padding: 8px 5px;
        font-size: 10.85px;
        border-radius: 5px;
        border: none;
    }
</style>

<main class="py-4" style="padding-top: 4rem;">
    <body style="background-color: #E0BBE4;">
        <div class="container m-5">
            <div class="shadow pt-5 p-4 mb-5 bg-white rounded">
                <div class="text-center">
                    <h1>HASIL PENCARIAN</h1>
                </div>

                <form action="{% url 'media_tayangan:cari_tayangan' %}" method="GET">
                    <div class="input-group rounded m-3 p-3">
                        <input type="search" class="form-control rounded" name="judul_tayangan" placeholder="Cari tayangan berdasarkan judul" aria-label="Search" aria-describedby="search-addon" style="height: 28px; font-size: 75%;" />
                        <button type="submit" class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search" style="color: rgb(0, 0, 0);"></i>
                        </button>
                    </div>
                </form> 

                <div class="table-responsive p-3 text-center">
                    <table class="table table-hover" style="font-size: 80%;">
                        <thead>
                            <tr class="table">
                                <th scope="col" style="vertical-align: middle">Judul</th>
                                <th scope="col" style="vertical-align: middle">Sinopsis Trailer</th>
                                <th scope="col" style="vertical-align: middle">URL Trailer</th>
                                <th scope="col" style="vertical-align: middle">Tanggal Rilis Trailer</th>
                                <th scope="col" style="vertical-align: middle">Tayangan</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for tayangan in tayangan %}
                            <tr>
                                <th scope="row">{{ tayangan.judul }}</th>
                                <td>{{ tayangan.sinopsis_trailer }}</td>
                                <td>{{ tayangan.url_video_trailer }}</td>
                                <td>{{ tayangan.release_date_trailer }}</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-center">
                                        {% if tayangan.type == 'film' %}
                                            <a href="{% url 'media_tayangan:film_view' tayangan.judul %}" class="btn-custom">See more</a>
                                        {% elif tayangan.type == 'series' %}
                                            <a href="{% url 'media_tayangan:series_view' tayangan.judul %}" class="btn-custom">See more</a>
                                        {% endif %}
                                    </div>
                                </td>
                                <!-- <td>
                                    <div class="d-flex align-items-center justify-content-center">
                                        {% if check_package.is_active == 1 %}
                                            {% if tayangan.type == 'film' %}
                                                <a href="{% url 'film_view' tayangan.judul %}" class="btn-custom">See more</a>
                                            {% elif tayangan.type == 'series' %}
                                                <a href="{% url 'series_view' tayangan.judul %}" class="btn-custom">See more</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="#" class="btn-custom disabled" aria-disabled="true">See more</a>
                                        {% endif %}
                                    </div>
                                </td> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</main>

{% endblock %}