{% extends 'base.html' %}
{% load static %}

{% block title %}
PacilFlix | Tralier Tayangan
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<style>
    body {
        font-size: 150%;
    }
</style>

<main class="py-4" style="padding-top: 4rem;">
    <body style="background-color: #E0BBE4;">
        <div class="container m-5">
            <div class="row">
                <div class="shadow pt-5 p-4 mb-5 bg-white rounded">
                    <div class="text-center">
                        <h1>DAFTAR TAYANGAN</h1>
                    </div>

                    <form action="{% url 'media_tayangan:cari_trailer' %}" method="GET">
                        <div class="input-group rounded m-3 p-3">
                            <input type="search" class="form-control rounded" name="judul_tayangan" placeholder="Cari tayangan berdasarkan judul" aria-label="Search" aria-describedby="search-addon" style="height: 28px; font-size: 75%;" />
                            <button type="submit" class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search" style="color: rgb(0, 0, 0);"></i>
                            </button>
                        </div>
                    </form>                    

                    <div class="text-center pt-3">
                        <h3>10 Tayangan Terbaik Minggu Ini</h3>
                    </div>

                    <div class="text-center">
                        <div class="form-check form-check-inline" style="font-size: 75%;">
                            <input class="form-check-input" type="radio" name="top10" id="global" checked>
                            <label class="form-check-label" for="global">Top 10 Global</label>
                        </div>
                    </div>

                    <div class="table-responsive p-3 text-center">
                        <table class="table table-hover" style="font-size: 80%;">
                            <thead>
                                <tr class="table">
                                    <th scope="col" style="vertical-align: middle">Peringkat</th>
                                    <th scope="col" style="vertical-align: middle">Judul</th>
                                    <th scope="col" style="vertical-align: middle">Sinopsis Trailer</th>
                                    <th scope="col" style="vertical-align: middle">URL Trailer</th>
                                    <th scope="col" style="vertical-align: middle">Tanggal Rilis Trailer</th>
                                    <th scope="col" style="vertical-align: middle">Total View 7 Hari Terakhir</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for trailer in trailer_data %}
                                <tr>
                                    <th scope="row">{{ trailer.rank }}</th>
                                    <td>{{ trailer.judul }}</td>
                                    <td>{{ trailer.sinopsis_trailer }}</td>
                                    <td>{{ trailer.url_video_trailer }}</td>
                                    <td>{{ trailer.release_date_trailer }}</td>
                                    <td>{{ trailer.total_views }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="container">
                    <div class="shadow pt-5 p-4 mb-5 bg-white rounded">
                        <div class="text-center p-2">
                            <h3>Film</h3>
                        </div>

                        <div class="table-responsive p-3 text-center">
                            <table class="table table-hover" style="font-size: 80%;">
                                <thead>
                                    <tr class="table">
                                        <th scope="col" style="vertical-align: middle">Judul</th>
                                        <th scope="col" style="vertical-align: middle">Sinopsis Trailer</th>
                                        <th scope="col" style="vertical-align: middle">URL Trailer</th>
                                        <th scope="col" style="vertical-align: middle">Tanggal Rilis Trailer</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for film in film_data %}
                                    <tr>
                                        <td>{{ film.judul }}</td>
                                        <td>{{ film.sinopsis_trailer }}</td>
                                        <td>{{ film.url_video_trailer }}</td>
                                        <td>{{ film.release_date_trailer }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="shadow pt-5 p-4 mb-5 bg-white rounded">
                        <div class="text-center p-2">
                            <h3>Series</h3>
                        </div>

                        <div class="table-responsive p-3 text-center">
                            <table class="table table-hover" style="font-size: 80%;">
                                <thead>
                                    <tr class="table">
                                        <th scope="col" style="vertical-align: middle">Judul</th>
                                        <th scope="col" style="vertical-align: middle">Sinopsis Trailer</th>
                                        <th scope="col" style="vertical-align: middle">URL Trailer</th>
                                        <th scope="col" style="vertical-align: middle">Tanggal Rilis Trailer</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for series in series_data %}
                                    <tr>
                                        <td>{{ series.judul }}</td>
                                        <td>{{ series.sinopsis_trailer }}</td>
                                        <td>{{ series.url_video_trailer }}</td>
                                        <td>{{ series.release_date_trailer }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</main>

{% endblock %}