{% load static %}

<!-- Navbar code goes here -->
<header>
    <!-- Header Start -->
    <div class="navbar navbar-expand-lg bg-color sticky-top">
        <div class="main-header">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="#"><img src="{% static 'img/logo/pacilflixlogo.png' %}" alt="" style="width: 100px; height: auto;"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">    
                                            {% if request.session.is_authenticated %}
                                                <li><a href="{% url 'media_tayangan:tayangan_view' %}">Daftar Tayangan</a></li>
                                                <li><a href="#">Daftar Kontributor</a></li>
                                                <li><a href="#">Kelola</a>
                                                    <ul class="submenu">
                                                        <li><a href="#">Kelola Daftar Favorit</a></li>
                                                        <li><a href="#">Kelola Daftar Unduhan</a></li>
                                                        <li><a href="{% url 'users:subscription_page' %}">Kelola Langganan</a></li>
                                                    </ul>
                                                </li>
                                                <li class="button-header">Logged in as: {{ request.session.username }}</li>
                                                <li class="button-header"><a href="{% url 'main:logout' %}" class="btn btn3">Log out</a></li> 
                                            {% else %} 
                                                <li class="active"><a href="{% url 'media_tayangan:trailer_view' %}">Trailer Tayangan</a></li>
                                            {% endif %}
                                            
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<style>
    .bg-color {
        background-color: #6274FF;
    }

    .main-header {
        width: 100%;  
        background-color: #6274FF;  
        position: sticky;  
        top: 0;  
        z-index: 1000; 
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);  
    }

    .button-header {
        margin-left: 10px; 
        color: #fff; 
        font-size: 14px; 
        font-weight: bold; 
    }
</style>


