{% extends 'base.html' %}

{% block title %}
    App Landing
{% endblock %}

{% block content %}
    
{% load static %} 

{% include 'preloader.html' %}

<!-- Navbar code goes here -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                            </div>
                        
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<style>
    .header-area {
        position: absolute;
        top: 0;
    }
    </style>
    
<main class="login-body" data-vide-bg="{% static 'img/login-bg.mp4' %}">
    <!-- Login Admin -->
    <form class="form-default" action="" method="POST">
        {% csrf_token %}
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <img src="{% static 'img/logo/loder.png' %}" alt="">
            </div>
            <h2>Form Login</h2>
            <div class="form-input">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Masukkan Username" required>
            </div>
            
            <div class="form-input">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Masukkan Password" required>
            </div>
            
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="Masuk">
            </div>
            <!-- Forget Password -->
            <a href="#" class="forget">Forget Password</a>
            
            <a href="{% url 'main:register' %}">Registration</a>

        </div>
    </form>
    <!-- /end login form -->
</main>
{% endblock %}
