{% extends 'base.html' %}
{% load static %}

{% block title %}
PacilFlix | B14
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
{% include 'preloader.html' %}

<!-- Main content area, adjusted to avoid navbar overlap -->
<main>
    <!-- Slider Area Start -->
    <section class="slider-area">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center justify-content-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-md-8">
                            <div class="center-box">
                                <h1>PacilFlix - B14</h1>
                                <button type="button" class="btn btn-primary" id="button_login" data-bs-dismiss="modal" onclick="Login()">Login</button>
                                <button type="button" class="btn btn-primary" id="button_register" data-bs-dismiss="modal" onclick="Register()">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Styles specifically for the center-box in this template -->
<style>
    .navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1030; /* high z-index to ensure it stays on top of other content */
    }

    body {
        margin: 0;
        padding: 10;
        box-sizing: border-box;
    }
    .slider-height {
        height: 100vh; 
    }
    .center-box {
        position: relative;
        text-align: center;
        padding: 80px; 
        background-color: rgb(157, 119, 198);
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
        width: auto;
        max-width: 700px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1 {
        color: #fbfbfb;
        margin-bottom: 30px;
    }
    .btn {
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        font-size: 16px;
        color: white;
        background-color: #476e98;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .btn:hover {
        background-color: #8bc3ff;
    }
</style>

<script>
    function Login() {
        window.location.href = '{% url "main:login_view" %}'; 
    }
    
    function Register() {
        window.location.href = '{% url "main:register" %}'; 
    }
</script>

{% endblock %}